#middle.bufferMiddle
  #bufferContainer
    #post_notice
    #bufferTitleContainer
      %p#bufferTitle.rockwellRegular tweetbuff.com
      %p#bufferSubTitle.rockwellRegular Welcome back #{@twitter_user.login}
    .separator
    #leftPanel
      #leftPanelPhoto
        = profile_image(@twitter_user, "_normal", 211, 198)
      #inBuffer
        = image_tag("blueBird.png", :class => "litleBirdImage")
        %span.rockwellRegular In Tweet
        - if user_signed_in?
          - if @plans.plan.name.eql?("Free") || @plans.plan.name.eql?("Pro")
            %span.leftPanelNumBuffer (#{@count_buffer})
          - elsif @plans.plan.name.eql?("Premium")
            %span.leftPanelNumBuffer (Unlimited)
      #bufferLeftPanelButtonsContainer
        #bufferAddAccountButton
          = link_to "Add Account", add_an_account_path,  :class => "rockwellRegular bufferLeftPanelButtonLink"
        #bufferSwichAccountButton
          %a.rockwellRegular.bufferLeftPanelButtonLink{:href => "#"} Switch Account
        #otherAccounts
          %p.rockwellGrey Also post on the following accounts:
          #accountsWrapper
            - @twitter_users.each do |other_twitter|
              - if other_twitter.id != @twitter_user.id
                = check_box_tag 'twitter_user_' + other_twitter.id.to_s, other_twitter.login
                %span.myriadGrey #{other_twitter.login}
            
    #bufferMainContainer
      = render :partial => "form_buffer", :locals => {:twitter_user => @twitter_user}
      #bufferTweetsContainer
        #bufferTweetsOptionsButtonsContainer
          #queueButton.bufferOptionButtonSelected
            = link_to "Queue", twitter_user_queue_path(@twitter_user.login), :class => "myriadProNormal", :remote=> true, :onclick => "jQuery('html, body').animate({scrollTop:0}, 'slow'); $('#loader-buffer').show();"
          #performanceButton.bufferOptionButton
            = link_to "Performance", twitter_user_performance_path(@twitter_user.login), :class => "myriadProNormal", :remote=> true, :onclick => "jQuery('html, body').animate({scrollTop:0}, 'slow'); $('#loader-buffer').show();"
      .tweeet_loader{:style => "position: relative; width: 725px;"}
        #loader
          =image_tag("ajaxLoader.gif")
          %br
          Posting your tweet
        #loader-buffer
          =image_tag("ajaxLoader.gif")
          %br
          Adding tweet to buffer
        #loader-delete-buffer
          =image_tag("ajaxLoader.gif")
          %br
          Delete tweet from buffer
        #loader-edit-buffer
          =image_tag("ajaxLoader.gif")
          %br
          Edit buffer
      = render :partial => "queue", :locals => {:ordered_buffers => @ordered_buffers, :active_time => @active_time}
        

:javascript
  

  $("#menuArrow").removeClass();
  $("#menuArrow").addClass("menuArrowMyTweets");