!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    
    = csrf_meta_tag
    
    
   
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.simplyCountable.js"
    = javascript_include_tag "button.js"
    = stylesheet_link_tag 'general.css'
    = stylesheet_link_tag 'style.css'
    = yield(:account_css)
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'



  %body
    #main
      %header.mainheader
        %nav
          #logo
            = link_to image_tag("/assets/logo.png"), root_path
          .menu
            .menuRoundPart
            .menuCenter
              .linksWrapper
                - if(!user_signed_in?)
                  = link_to "Home", root_path, :class => "menuHome"
                  = link_to "Goodies", goodies_path, :id => "googiesMenuItem" 
                  = link_to "Plans & Pricing", plans_path 
                  = link_to "Sign in", new_user_session_path, :class => "menuCenterLinkLeft"
                  = link_to "Sign up", new_user_registration_path, :class => "menuCenterLinkLeft"
                  = link_to "Contact", contact_path, :class => "menuCenterLinkLeft"
                - else                  
                  - if !@twitter_user.nil?
                    = link_to "My Tweets", twitter_user_path(@twitter_user) 
                  - else
                    = link_to "My Tweets", add_account_path
                  = link_to "Account", account_settings_path 
                  = link_to "Goodies", goodies_path 
                  = link_to "Plans & Pricing", plans_path 
                  = link_to "Sign out", destroy_user_session_path, :method => :delete,  :class => "menuCenterLinkLeft" 
                
            #menuArrow
      #alert
        .container
          - flash.each do |name, msg|
            %div{:id => "notification_#{name}"}
              %span{:style => "float: right; margin-right: 15px;"}
                %a{:href=>"#", :onclick => "$('#notification_#{name}').fadeOut(); return false;"}
                  =image_tag("/assets/close.png",:width=>"18", :height => "18")
              = msg
              
      = yield
      
      #sponsors.mainSponsors
      %footer
        #footerContent
          #links
            %p Links
            %a{:href => "#"} Home
            %a{:href => "#"} Goodies
            %a{:href => "#"} Plans & Pricing
            %a{:href => "#"} Sign In
            %a{:href => "#"} Sign Up
          #friendsImage
            = image_tag("/assets/friendsImage.png")
          #newsletter
            %p.tryItNowNormalFont @Tweet buff   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis dui, tincidunt at vulputate at, tristique eget tellus. Duis id odio varius odio vestibulum ultrices ac ut ipsum. Proin tempus iaculis dolor................
            #emailUsField
              %input.watermark{:value => "email us"}
            #newsletterButton
              %a Subscribe our Newsletter
        #copyright
          %p © all rights reserved TweetBuff 2012
        #socialLinks
          #facebookLink
            %a{:href => "#"}
          #twitterLink
            %a{:href => "#"}
        

