!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    
    = javascript_include_tag "jquery.simplyCountable.js"
    = javascript_include_tag "button.js"

    = stylesheet_link_tag :jquery
    
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'general.css'
    = stylesheet_link_tag 'style.css'
    = yield(:account_css)
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'



  %body
    #main
      %header.homeHeader
        %nav
          #logo
            = link_to image_tag("/assets/logo.png"), root_path
          .menu
            .menuRoundPart
            .menuCenter
              .linksWrapper
                - if(!user_signed_in?)
                  = link_to "Home", root_path, :class => "menuHome"
                  = link_to "Goodies", goodies_path, :id => "googiesMenuItem"
                  = link_to "Plans & Pricing", plans_path 
                  = link_to "Sign in", new_user_session_path, :class => "menuCenterLinkLeft"
                  = link_to "Sign up", new_user_registration_path, :class => "menuCenterLinkLeft"
                  = link_to "Contact", contact_path 
                - else
                  %a{:href => "#"} My Tweets
                  %a.menuCenterLinkLeft{:href => "#"} Account
                  %a.menuCenterLinkLeft{:href => "#"} Goodies
                  %a.menuCenterLinkLeft{:href => "#"} Plans & Pricing
                  %a.menuCenterLinkLeft{:href => "#"} Sign Out
                
            #menuArrow
        #headerContent
          #logo2
            = image_tag "logo2.png"
          #tryItNowContainer
            %span.tryItNowTitle Be a Standout on
            %span.tryItNowTitleBold twitter
            %p.tryItNowNormalFont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis dui, tincidunt at vulputate at, tristique eget tellus. Duis id odio varius odio vestibulum ultrices ac ut ipsum. Proin tempus iaculis dolor, et fermentum sem viverra et. Suspendisse.
            #tryItNowButton
              %input.watermark{:value => "your twitter account........"}/
              %a{:href => "#"} Try it now
            #viewDemo
              %a{:href => "#"} View online Demo
      #alert
        .container
          - flash.each do |name, msg|
            %div{:id => "notification_#{name}"}
              %span{:style => "float: right; margin-right: 15px;"}
                %a{:href=>"#", :onclick => "$('#notification_#{name}').fadeOut(); return false;"}
                  =image_tag("close.png",:width=>"18", :height => "18")
              = msg
              
      = yield
      

      %footer
        #footerContent
          #links
            %p Links
            %a{:href => "#"} Home
            %a{:href => "#"} Goodies
            %a{:href => "#"} Plans & Pricing
            %a{:href => ""} Sign In
            %a{:href => "#"} Sign Up
          #friendsImage
            = image_tag("/assets/friendsImage.png")
          #newsletter
            %p.tryItNowNormalFont @Tweet buff   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis dui, tincidunt at vulputate at, tristique eget tellus. Duis id odio varius odio vestibulum ultrices ac ut ipsum. Proin tempus iaculis dolor................
            #emailUsField
              %input.watermark{:value => "email us"}
            #newsletterButton
              %a Subscribe our Newsletter
        #copyright 
          %p © all rights reserved TweetBuff 2012
        #socialLinks
          #facebookLink
            %a{:href => "#"}
          #twitterLink
            %a{:href => "#"}
        

    = javascript_include_tag "bpopup.js"
    = javascript_include_tag "button.js"
    = javascript_include_tag "notification.js"
    = javascript_include_tag "error.js"

